<%- include('header'); -%>

<h1>Form element with three input fields</h1>
<form class="parent">
  <input type="text" class="child" placeholder="child one">
  <input type="text" class="child" placeholder="child two">
  <input type="text" class="child" placeholder="child three">
</form>

<%- include('footer'); -%>
