/* Bootstrap dark-color: #343A40 */

body {
  font-family: benton-sans, sans-serif;
  font-style: normal;
  font-weight: 100;
}

html {
  overflow-y: scroll;
}

textarea {
  resize: none;
}

tbody tr {
  border-bottom: 2px solid #343A40;
}

tr .btn {
  width: 70px;
}

.table-hover tbody tr:hover td {
  background-color: #a2d8f1;
}

.table-hover tbody tr:hover td:last-child .btn {
  visibility: visible !important;
}

.title {
  border-bottom: 5px double #b0b0b0;
}

.keywords {
  border-right: 5px double #b0b0b0;
}

.summary {
  border-top: 5px double #b0b0b0;
}
